.thumbnail {

    position: relative;
}

.caption {
    
    opacity: 0.7;
    position: absolute;
    top: 44%;
    left: 3%;
    width: 60%;
}

.test {
   
    /* opacity: 0.9; */
    width: 100%;
    
}

.loc{
    width: 50%;
    margin-left: 23%;
}


html {
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
}

