<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="row" id="box-search">
  <div class="thumbnail text-center">
    <img src={{imageSelected}} alt="" class="img-responsive test">
    <div class="caption">

      <div class="jumbotron">
        <div class="form-group">
          <label>Going to</label>
          <br>
          <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control loc"
            #search [formControl]="searchControl">
        </div>

        <label>Check-In</label>
        <input type="date">
        <label>Check-Out</label>
        <input type="date">
        <label>Rooms</label>
        <select (change)="priceDropDownChanged($event.target.value)">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
        <br><br>
        <button class="btn btn-success">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class=" col-sm-4">
      <p> <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i> Earn free travel rewards instantly</p>
    </div>

    <div class=" col-sm-4">
      <p> <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i> Earn free travel rewards instantly</p>
    </div>


    <div class=" col-sm-4">
      <p> <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i> Earn free travel rewards instantly</p>
    </div>

    <hr>
    <br>

  </div>
</div>