<div class="container">
  <div class="col-lg-12">
        <label>Location</label>

          <input placeholder="search for location" autocorrect="off"
                 autocapitalize="off" spellcheck="off" type="text"
                 class="form-control" #search [formControl]="searchControl">

        <input id="latitude" type="text"  value="{{this.latitude}}">
        <input id="longitude" type="text"  value="{{this.longitude}}">

        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
  </div>
</div>

