
<div class="container">
  <div class="row">
    <div class="col-lg-4">

      <div class="chat__sidebar">
        <h3 *ngIf="callActive">People &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="onVideoCall('test', false)"  value="X" style="color: red;"> X</button></h3>

        <hr><br>
        <div
          style="font-size: large; color: white; align-items: baseline"
          *ngFor="let pe of peopleOnline">{{pe.name}}
          <button (click)="onVideoCall(pe.key, true)">Video call {{pe.name}}</button>
        </div>

      </div>
    </div>
    <div class="col-lg-8">
      <video #myvideo></video>
    </div>
  </div>

</div>

<div class="container">
  <body class="chat">

  </body>
</div>

