<div class="container">
  <select (change)="searching($event.target.value)">
    <option>None</option>
    <option>Name</option>
    <option>Price</option>
    <option>Location</option>
  </select>
</div>

<div>
  <div class="col-lg-12">

    <!-- Search by name  -->
    <div *ngIf="(searchVal === 'Name')">
      <h4>Enter the book name to be searched</h4>
      <br>
      <input type="text" class="text-primary form-control" [(ngModel)]="filteredStatus" /> {{filteredStatus}}
      <br>
      <button *ngIf="searchVal === 'Name'" (click)="onSubmit(filteredStatus)" class="btn btn-primary">Save</button>
    </div>

    <!-- Search by Price  -->

    <div *ngIf="(searchVal === 'Price')">
      <h4>Search by Price</h4>
      <form>
        <div class="form-group">
          <label>Min Price</label>
          <select (change)="priceDropDownChanged($event.target.value)">
                  <option>50</option>
                  <option>100</option>
                  <option>900</option>
                </select>
          <br>
          <button class="btn btn-primary" (click)="searchByPrice()">Price</button>
        </div>
      </form>
    </div>

    <!-- Search by Distance  -->

    <div *ngIf="(searchVal === 'Location')" class="row">
      <h4>Search by Location</h4>

      <select (change)="firstDropDownChanged($event.target.value)">
        <option>1-3 km</option>
        <option>3-6 km</option>
        <option>6-10 km</option>
      </select>
      <div class="col-lg-12">
        <br>
        <label>Your Location</label>
        <input id="latitude" type="text" value="{{this.latitude}}">
        <input id="longitude" type="text" value="{{this.longitude}}">

        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>
      <br><br>
      <button class="btn btn-info" (click)="locationFixed()">Submit</button>
    </div>

    <hr>

    <div class="panel panel-primary container" *ngFor="let l of hote">
      <br>
      <div class="panel-heading">
        <h3 class="panel-title">{{l.name}}</h3>
      </div>
      <div style="clear: left;">
        <p style="float: left;"><img src="{{l.photo}}" height="200" width="200" border="1px"></p>
        <p>{{l.description}}</p>
      </div>

      <div class="panel-body">
        Rate: {{l.price}} <br> Stars: {{l.stars}} /5
      </div>
      <br>
    </div>
  </div>
</div>