<!-- Fixed navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
      <a class="navbar-brand" routerLink="/home"><strong>Grand Hotel</strong></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/home">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/hotel">Hotels</a></li>
         <li><a   routerLink="/search">Search Hotels</a></li>
         <li><a   routerLink="/chat">Chat</a></li>
       <!-- <li><a  routerLink="/blog">Blog</a></li>
        <li><a routerLink="/shopping-cart">Items in Cart</a></li> -->
        <li><a routerLink = "/signin"> Login</a></li>
        <li *ngIf="loggedId"><a (click)="onLogoutClicked()">Logout</a></li>
        <li><a routerLink = "/register">Register</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
