
<div class="row">
  <div [ngClass]="messageClass">{{message}}</div>
</div>


<div class="container">
  <div class="col-lg-12">
    <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" formControlName="name">    

      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" name="price" formControlName="price">   

      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" formControlName="description">   

      <label for="photo">Photo</label>
      <input type="text"class="form-control"  id="photo" name="photo" formControlName="photo">   

      <label for="createdBy">Created By</label>
      <input type="text" readonly class="form-control" id="createdBy" name="createdBy" formControlName="createdBy" value="{{userLoggedIn}}">  
      <br>
      <button type="submit" class="btn btn-primary">Save</button> 
      <button class="btn btn-alert">Cancel</button>     
  </form>
 
  <div class="container">
    <div class="col-lg-12">
          <label>Location</label>
  
            <input placeholder="search for location" autocorrect="off"
                   autocapitalize="off" spellcheck="off" type="text"
                   class="form-control" #search [formControl]="searchControl">
  
          <input id="latitude" type="text"  value="{{this.latitude}}">
          <input id="longitude" type="text"  value="{{this.longitude}}">
  
          <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
    </div>
  </div>
  </div>
</div>
