<div class="container test">
    <div class="container">
        <button type="submit" class="btn btn-primary" (click)="newhotel()">New Hotel</button>
    </div>
    <br>

    <div class="row">
        <div [ngClass]="messageClass">{{message}}</div>
    </div>

    <div *ngIf="EditMode">
        <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name">

            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" formControlName="price">

            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" formControlName="description">

            <label for="photo">Photo</label>
            <input type="text" class="form-control" id="photo" name="photo" formControlName="photo">

            <label for="createdBy">Created By</label>
            <input type="text" readonly class="form-control" id="createdBy" name="createdBy" formControlName="createdBy" value="{{userLoggedIn}}">
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
            <button class="btn btn-alert">Cancel</button>
        </form>
    </div>


    <router-outlet></router-outlet>
    <blockquote>
        <h3 style="color: #5A2A6B">Rate your hotel here.</h3>
        <small>by <cite>Abhishek</cite></small>
    </blockquote>

    <div *ngIf="hotelAddorEdit && (!EditMode)">
        <div class="panel panel-primary container" *ngFor="let l of hotels">
            <br>
            <div class="panel-heading">
                <h3 class="panel-title">{{l.name}}</h3>
            </div>
            <div style="clear: left;" class=" offset-lg-1">
                <p style="float: left;"><img src="{{l.photo}}" height="200" width="200" border="1px"></p>
                <p>{{l.description}}</p>
            </div>

            <div class="panel-body">
                Rate: {{l.price}} <br> Stars: {{l.stars}} /5
            </div>

            <div class="panel-footer">
                <strong>Posted By:  {{l.createdBy}}</strong>
                <br>
            </div>

            <div>
                <strong>Likess By: {{l.likes}} </strong>
                <br>
                <strong>Dislikes: {{l.dislikes}} </strong>
            </div>

            <br>
            <div *ngIf="(l.createdBy === userLoggedIn)">
                <a (click)="onEditClicked(l._id)"><button class="btn btn-info">Edit</button></a>
                <a (click)="onDeleteClicked(l._id)"><button class="btn btn-danger">Delete</button> </a>
            </div>
            <div class="dropdown" *ngIf="!(l.createdBy === userLoggedIn)">
                <button class="btn btn-success" (click)="onLikePressed(l._id)">Likes {{l.likes}}</button>
                <div class="dropdown-content">
                    <a *ngFor="let l1 of l.likedBy" href="#">{{l1}}</a>

                </div>
            </div>

            <div class="dropdown" *ngIf="!(l.createdBy === userLoggedIn)">
                <button class="btn btn-warning" (click)="ondisLikePressed(l._id)">Dislike {{l.dislikes}}</button>
                <div class="dropdown-content">
                    <a *ngFor="let l2 of l.dislikedBy" href="#">{{l2}}</a>
                </div>
            </div>



            <ul class="list-group" *ngIf="!(l.createdBy === userLoggedIn)">
                <h2>
                    <button class="btn-danger btn btn-sm" (click)="draftComment(l._id)" [disabled]="newComment.indexOf(l._id) > -1">Post Comment</button>
                </h2>
                <br>
                <div *ngIf="newComment.indexOf(l._id) > -1">
                    <form [formGroup]="commentFormValue" (ngSubmit)="onCommentFormSubmit()">
                        <textarea name="comment" rows="8" cols="16" class="form-control" formControlName="comment"></textarea>
                        <h5>Rating</h5>
                        <select formControlName="cou">
                                          <option *ngFor="let country of [1,2,3,4,5]" value="{{country}}" >
                                            {{country}}
                                          </option>
                                        </select>
                        <br>
                        <button class="btn btn-sm btn-info" type="submit" (click)="postComment(l._id)">Submit</button>
                        <button class="btn btn-sm btn-info" type="submit" (click)="cancelComment(l._id)">Cancel</button>
                    </form>
                </div>
                <li *ngIf="enabledComments.indexOf(l._id) === -1 && l.comments.length >0" class="list-group-item">
                    <span (click)="expand(l._id)">Show Comments &nbsp;&nbsp;</span>
                </li>
                <li *ngIf="enabledComments.indexOf(l._id) > -1" class="list-group-item">
                    <span (click)="collapse(l._id)">Hide Comments &nbsp;&nbsp;</span>
                </li>
                <div *ngIf="enabledComments.indexOf(l._id) > -1">
                    <li *ngFor="let comm of l.comments" class="list-group-item">
                        <strong>{{comm.commentator}}:</strong> {{comm.comment}}
                    </li>
                </div>
            </ul>
        </div>
    </div>

</div>