<div class="container">

    <div class="row">
        <div [ngClass]="messageClass">{{message}}</div>
      </div>

  <form [formGroup]="addDataForm" (ngSubmit)="onSubmit()">
      <label for="username">Username</label>
      <input class="form-control" type="text" name="username" id="username" formControlName="username">  
    
      <label for="email">Email</label>
      <input class="form-control" type="email" name="email" id="email" formControlName="email">  
    
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" formControlName="password">  
    
      <button class="btn btn-primary"  [disabled]="!addDataForm.valid" type="submit">Register</button>
    </form>

</div>