<div class="container">

    <div class="row">
        <div [ngClass]="messageClass">{{message}}</div>
    </div>

    <form [formGroup]="addSignInData" (ngSubmit)="onSubmit()">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" formControlName="username">

        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" formControlName="password">
        <button class="btn btn-primary" type="submit" [disabled]="!addSignInData.valid">SignIn</button>
    </form>

</div>